<html>
    <head>
        <title>homework10-3.ejs</title>
    </head>

    <body>
        <Center>
            <h1>homework10-3</h1>
            <% data.forEach((x) => { %>
            <%- x.id + ', ' + x.firstname + ', ' + x.lastname + ', ' + x.salary + ', ' + x.role %><br>
            <% }) %>
        </Center>
    </body>
</html>