Please login
<br>
<form action="/login_completed" method="post">
    Username:
    <input type="text" name="username">
    <br> Password:
    <input type="password" name="password" id="password">
    <br>

    <input type="submit">
</form>
<button type="button" onclick="window.location.href = 'register';">สมัครสมาชิก</button>