img{
    width: 200px;
    max-width: 100%;
    max-height: 100%;
}
.container-fluid {
    padding: 0px;
}

.navbottom {
    margin: 0px;
}

.inlinerow {
    display: flow-root;
}

.left {
    float: left;
}

.right {
    float: right;
}

.headderContent {
    margin-bottom: 50px;
}

.marginRow {
    margin: 0px;
}

.box {
    
    margin-top: 15px;
    margin-bottom: 15px;
    /* margin: 15px; */
}
.box1{
    border: 1px dashed gray;
}
.box1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detail {
    margin-top: 10px;
    margin-bottom: 20px;
}