@import '~antd/dist/antd.css';

.left {
  text-align: left;
}

.right {
  flex-direction: row-reverse;
  justify-content: flex-start;
  text-align: right;
}

.ant-layout-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.ant-layout-footer {
  position: sticky;
  bottom: 0;
}