@import '~antd/dist/antd.css';

.footer {
  background: #fff;
  color: #b2c8ce;
  font-size: 89%;
  padding-top: 1em;
  height: 43px;
  border-top: 1px solid #e6ecf0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.left {
  background: url(image/twitter.png);
  background-position: top center;
  background-size: 100% 96%;
  height: 100vh;
}

.left-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}